In [17]:
import numpy as np
import pandas as pd

In [18]:
getData = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [19]:
getData.count

<bound method DataFrame.count of       engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0         NaN     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]>

In [20]:
df = pd.DataFrame(getData)

In [21]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [22]:
unique_fuel_types = df['fuel_type'].unique()
print(unique_fuel_types)

['Gasoline' 'Diesel']

In [24]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [25]:
print(df['fuel_efficiency_mpg'].max())

25.96722204888372

In [26]:
max_efficiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Maximum fuel efficiency of cars from Asia:", max_efficiency)

Maximum fuel efficiency of cars from Asia: 23.759122836520497

In [27]:
initial_median = df['horsepower'].median()
print(f"Initial Median Horsepower: {initial_median}")

Initial Median Horsepower: 149.0

In [28]:
most_frequent_value = df['horsepower'].mode()[0]
print(f"Most Frequent Horsepower Value (Mode): {most_frequent_value}")

Most Frequent Horsepower Value (Mode): 152.0

In [29]:
df_horsepower_filled = df['horsepower'].fillna(most_frequent_value)
# Calculate the new median
new_median = df_horsepower_filled.median()
print(f"New Median Horsepower (After Imputation): {new_median}")

New Median Horsepower (After Imputation): 152.0

In [30]:
# Compare the two medians
if new_median > initial_median:
    comparison = "Yes, it increased"
elif new_median < initial_median:
    comparison = "Yes, it decreased"
else:
    comparison = "No"
print(f"\nResult of Comparison: {comparison}")

Result of Comparison: Yes, it increased

In [32]:
df_asia = df[df['origin'] == 'Asia']

df_select = df_asia[['vehicle_weight', 'model_year']]

df_7 = df_select.iloc[:7]

X = df_7.to_numpy()

XTX = X.T @ X

try:
    XTX_inv = np.linalg.inv(XTX)
except np.linalg.LinAlgError:
    # Handle the case where the matrix is singular (non-invertible)
    print("Error: The matrix XTX is singular and cannot be inverted.")
    # You would need to handle this error (e.g., stop, or use a pseudo-inverse)
    raise

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv @ X.T @ y
print(f"The result vector w is:\n{w}")

final_sum = w.sum()
print(f"The sum of all elements in w is: {final_sum}")

The result vector w is:
[0.01386421 0.5049067 ]
The sum of all elements in w is: 0.5187709081074016