In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [49]:
data = 'wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
!wget $data

--2025-10-07 07:24:02--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address ‘wget’
--2025-10-07 07:24:02--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv.2’

car_fuel_efficiency 100%[===================>] 853.70K  3.47MB/s    in 0.2s

2025-10-07 07:24:03 (3.47 MB/s) - ‘car_fuel_efficiency.csv.2’ saved [874188/874188]

FINISHED --2025-10-07 07:24:03--
Total wall clock time: 0.8s
Downloaded: 1 files, 854K in 0.2s (3.47 MB/s)

In [50]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [51]:
# Making the columns uniform in terms of capitalisation and having no spaces in the columns
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [70]:
# Finding categorical variables so that we can standardise the inputs. 
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

#print strings
cols = list(df.dtypes.index)
for col in cols:
    print(col)

engine_displacement
num_cylinders
horsepower
vehicle_weight
acceleration
model_year
origin
fuel_type
drivetrain
num_doors
fuel_efficiency_mpg

In [53]:
# Standardising the inputs 
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ', '_')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,europe,gasoline,all-wheel_drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,usa,gasoline,front-wheel_drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,europe,gasoline,front-wheel_drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,usa,diesel,all-wheel_drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,europe,gasoline,all-wheel_drive,2.0,12.488369

In [54]:
#finding different dataypes available in datasets and their counts
df.dtypes.value_counts()

float64    6
object     3
int64      2
Name: count, dtype: int64

In [55]:
#Identify null value counts in the columns
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [56]:
#Get mediam of horsepower
median = df['horsepower'].median()
print(median)

149.0

In [57]:
horsepower_WithMissingAs0 = df['horsepower']
horsepower_WithMissingAsMean = df['horsepower']
#print(horsepower_WithMissingAs0, horsepower_WithMissingAsMean)

In [58]:
mean = horsepower_WithMissingAsMean.mean()
print(mean)

149.65729212983547

In [59]:
horsepower_WithMissingAs0 = horsepower_WithMissingAs0.fillna(0)
horsepower_WithMissingAsMean = horsepower_WithMissingAsMean.fillna(mean)
#print(horsepower_WithMissingAs0, horsepower_WithMissingAsMean)

In [60]:
median1 = horsepower_WithMissingAs0.median()
median2 = horsepower_WithMissingAsMean.median()
print(median, median1, median2)

149.0 146.0 149.65729212983547

In [65]:
#splitting dataset
np.random.seed(2)
idx = np.arange(n)
np.random.shuffle(idx)

n = len(df)
n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test
print(n, n_val, n_test, n_train, n_val+n_test+n_train)

#60/20/20
df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train + n_val]]
df_test = df.iloc[idx[n_train + n_val:]]

9704 1940 1940 5824 9704

In [67]:
#Creating y 
y_train = np.log1p(df_train.msrp.values)
y_val = np.log1p(df_val.msrp.values)
y_test = np.log1p(df_test.msrp.values)

AttributeError: 'DataFrame' object has no attribute 'msrp'

In [66]:
#Mean exercise using train dataset
mean = df_train.horsepower.mean()
#print(mean)

#creating new branches
horsepower_WithMissingAs0 =  df_train.horsepower
horsepower_WithMissingAsMean =  df_train.horsepower
#print(horsepower_WithMissingAs0, horsepower_WithMissingAsMean)

horsepower_WithMissingAs0 = horsepower_WithMissingAs0.fillna(0)
horsepower_WithMissingAsMean = horsepower_WithMissingAsMean.fillna(mean)

print(mean, horsepower_WithMissingAs0.mean(), horsepower_WithMissingAsMean.mean())

149.5732766586583 138.96651785714286 149.5732766586583